.excelsty {
  position: relative;
  width: 100%;
  height: 600%;
  border: 1px solid black;
  background-color: #fff;
}
.mousesty {
  border: 1px solid #436cdf;
  background-color: rgba(79, 149, 255, 0.548);
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}
